// colors
$black: #000000;
$gray: #808080;
$gray-light: #cccccc;
// font sizes
$text-sm: 16px;
// image sizes

// Container
$container: 1120px;

// Code starting

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
}

.navbar {
  margin: auto;
  width: $container;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    img {
      width: 26.87px;
    }

    .navList {
      ul {
        display: flex;
        align-items: center;
        gap: 59px;
        list-style-type: none;
        li {
          font-size: $text-sm;
          padding-bottom: 10px;
          &:hover {
            border-bottom: 1px solid $black;
          }
          a {
            text-decoration: none;
            color: $black;
          }
        }
      }
    }
  }
}

.heroPage {
  padding: 108px 0 140px 0;
  width: $container;
  margin: auto;
  text-align: center;
  border-bottom: 0.5px solid $gray-light;
  h1 {
    font-size: 60px;
    font-weight: 400;
    color: $black;
  }

  p {
    font-size: 24px;
    font-weight: 400;
    color: $gray;
    padding-top: 24px;
  }

  .poemers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 116px;

    img {
      width: 100%;
      height: 514px;
    }
  }

  .rows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    .row {
      border: 1px solid #dcdcdc;
      border-radius: 50%;
      padding: 10px;
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      cursor: pointer;
      &:hover {
        background-color: #cccccc;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
