// colors
$black: #000000;
$gray: #808080;
// font sizes
$text-sm: 16px;
// image sizes

// Container
$container: 1120px;

// Code starting

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
}

.navbar {
  margin: auto;
  width: $container;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    img {
      width: 26.87px;
    }

    .navList {
      ul {
        display: flex;
        align-items: center;
        gap: 59px;
        list-style-type: none;
        li {
          font-size: $text-sm;
          padding-bottom: 10px;
          &:hover {
            border-bottom: 1px solid $black;
          }
          a {
            text-decoration: none;
            color: $black;
          }
        }
      }
    }
  }
}
